<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper">
      <div class="box">
        <div class="row">
          <!-- sidebar -->
          <div class="column col-sm-3" id="sidebar">
            <a class="logo" href="#">M</a>
            <ul class="nav">
              <li class="active"><a href="#">Home</a>
              </li>
              <li><a href="mailto:bruno@mentgesinformatica.com.br?subject=Contact%20from%20site">Contact</a>
              </li>
            </ul>
            <ul class="nav hidden-xs" id="sidebar-footer">
              <li>
                <a href="http://www.bootply.com"><h3>Mentges Informática</h3> Software Development Firm</a>
              </li>
            </ul>
          </div>
          <!-- /sidebar -->
          <!-- main -->
          <div class="column col-sm-9" id="main">
            <div class="padding">
              <div class="full col-sm-9">
                <!-- content -->
                <div class="col-sm-12" id="stories">
                  <div class="page-header text-muted divider">
                    What we offer
                  </div>
                </div>
                <!--/stories-->
                <div class="row">
                  <div class="col-sm-10">
                    <h3>We make beautiful, usable and fast software</h3>
                    <h4>
                      <small class="text-muted"> We are python, ruby and java specialists.</small>
                    </h4>
                  </div>
                  <div class="col-sm-2">
                    <a href="#" class="pull-right"><img src="/assets/example/control_panel.jpg" class="img-responsive img-rounded"></a>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="page-header text-muted divider">
                    Portfolio
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <h4><a href="http://brbid.com">brbid.com</a></h4>
                    <a href="#"><img src="/assets/example/brbid.png" class="img-responsive img-rounded"></a>
                  </div>
                  <div class="col-sm-4">
                    <h4>listus.com.br (they closed business, unfortunately)</h4>
                    <a href="#"><img src="/assets/example/listus.png" class="img-responsive img-rounded"></a>
                  </div>
                  <div class="col-sm-4">
                    <h4><a href="http://rodandolegal.com.br">rodandolegal.com.br</a></h4>
                    <a href="#"><img src="/assets/example/rl.png" class="img-responsive img-rounded"></a>
                  </div>
                </div>

		<hr>
                <div class="row" id="footer">
                  <div class="col-sm-6">
                  </div>
                  <div class="col-sm-6">
                    <p>
                      <a href="#" class="pull-right">2006 - 2018 © Mentges Informática</a>
                    </p>
                  </div>
                </div>
              </div><!-- /col-9 -->
            </div><!-- /padding -->
          </div>
          <!-- /main -->
        </div>
      </div>
    </div>
    <!-- script references -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
